.container{
    background-color: #767175;
   width:1000px;
   margin:auto auto;
    padding: 10px;
    overflow:hidden
}
.left{
    width:20%;
    height: 830px;
    float: left;
    background-color: #65a5fa;
}
.left h1{
    margin-top: 30px;
}
.right{
    width: 70%;
    float: left;
    padding: 20px;
}


.description{
    font-weight: bold;
}

a{
    color: blue;
    text-decoration: underline;
}
a:hover{
    color: red;

}

h1{
    color: white;
    text-align: center;
}