/*float*/
.wrapper{
    background: #767175;
    height: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
.left_side{
    width: 30%;
    float:left;
    height: 100%;
    background: #65a5fa;
}
.right_side{
    float:left;
    width: 70%;
    height:500px;
    background: chocolate;
}